@import "tailwindcss";

html {
  background-color: black;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }
}

/* hide-scrollbar utility */
.hide-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  /* Chrome/Safari/Webkit */
  display: none;
}

/* html,
body {
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  width: 100%;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: auto;
  position: static;
} */
